.header {
    width: 1281px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 54px;
    font-family: "Futura LT", sans-serif;
    @include desctop-medium() {
        justify-content: space-between;
        width: 100%;
        /* width: 990px; */
    }
    &__logo {
        width: 155px;
        height: 28px;
        @include desctop-medium() {
            width: 135px;
        }
    }

    &__menu {
        width: 801px;
        display: flex;
        justify-content: space-between;
        &-link {
            font-size: 18px;
            font-weight: 300;
            line-height: 122.8%;
            @include desctop-medium() {
                font-size: 16px;
            }
        }
        @include desctop-medium() {
            width: 600px;
            /* display: none; */
        }
        @include desctop-small() {
            display: none;
        }
    }
    &__phone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 9px;
        a {
            &:nth-child(2) {
                @include desctop-medium() {
                    display: none;
                }
            }
        }
        @include desctop-medium() {
            margin-right: 40px;
        }
    }
    &__form {
        font-family: "FuturaFuturisC", sans-serif;
        width: 100%;
        min-height: 473px;
        display: flex;
        gap: 53px;
        @include desctop-small() {
            flex-wrap: wrap;
        }
        &-title {
            max-width: 847px;
            font-weight: 700;
            line-height: 80px;
            color: #ffffff;
            font-size: 69px;
            span {
                font-size: 59px;
                font-weight: 600;
                color: #969af7;
                @include desctop-medium() {
                    font-size: 39px;
                }
                @include mobile-big() {
                    font-size: 16px;
                }
            }
            @include desctop-medium() {
                font-size: 49px;
            }
            @include desctop-small() {
                line-height: 50px;
            }
            @include mobile-big() {
                line-height: 30px;
                font-size: 22px;
            }
        }
        &-description {
            margin-top: 10px;
            max-width: 672px;
            font-size: 19px;
            font-weight: 400;
            line-height: 129.8%;
            color: #969af7;
            @include mobile-big() {
                font-size: 18px;
            }
        }
        &-chek {
            max-width: 835px;
            min-height: 150px;
            margin-top: 37px;
            padding: 25px 31px;
            border-radius: 10px;
            background: linear-gradient(90deg, rgb(150, 154, 247) 1.337%, rgba(150, 154, 247, 0) 96.658%);
            &-wrap {
                display: flex;
                gap: 9px;
                &:nth-child(2) {
                    margin: 5px 0;
                }
            }
            &-text {
                font-size: 22px;
                font-weight: 400;
                line-height: 129.8%;
                color: #ffffff;
                @include mobile-big() {
                    line-height: 100%;
                    font-size: 18px;
                }
            }
        }
    }
}
